{% extends 'nav.html' %}
<title>WouldU</title>
{% block content %}


<style>
    #forms {margin-left:30%; margin-right:30%;}
</style>
<br>
<h2 style="text-align: center; font-weight:bold;">개최하기</h2>
<br>
<form id="forms" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <table style="margin-left: auto; margin-right: auto; ">
        대회명 {{form.title}}<br>
        참가비용 {{form.charge}}<br>
        최대인원 {{form.max}}<br>
        최소인원 {{form.min}}<br>
        마감일 {{form.date}}<br>
        심사기준 {{form.criteria}}<br>
        대회소개 {{form.content}}<br>
        소개 포스터 {{form.image}}<br>
    </table>
    <br>
    <div style="text-align: center;">
    <input type="submit" style=" width:80px; height: auto; border: 0; outline: 0; color:white; background-color:#696de4; border-radius: 5px;" value="등록"></div>
</form>
{% endblock %}